<div class="container" [ngStyle]="!this.loadingHandler.isLoading ? {} : {'display': 'flex', 'justify-content': 'center', 'align-items': 'center', 'height':'100%','width': 'auto'}">
  <div *ngIf="!loadingHandler.isLoading">

    <div class="btn_helps">
      <button *ngIf="display_btn_h" (click)="add_filter()">
        <img src="/assets/db.png" alt="filter">
      </button>
      <button *ngIf="display_btn_h" (click)="show_message()">
        <img src="/assets/chat.png" alt="help">
      </button>
    </div>
    
    <div class="users_metrics">
      <div>
        <table>
          <thead>
            <tr>
              <td>status</td>
              <td>created_at</td>
              <td>file_name</td>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let pipe of paginatedData">
            <tr>
              <td [ngStyle]="{ 'color': pipe.status === 'success' ? 'green' : (pipe.status === 'pending' ? 'orange' : 'red') }">
                {{pipe.status}}</td>
              <td>{{pipe.duration_time}}</td>
              <td>
                <a [ngStyle]="{'font-weight': '500','cursor': 'pointer'}"
                (click)="download_file(pipe.task_id,pipe.filename_prfx_prep,pipe.status)">{{pipe.filename}}</a>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
        <br>
        <div class="pagination_section">
          <button (click)="navigateToFirstPage()"><<</button>
          <button (click)="navigateBackward()"><</button>
          <button (click)="navigateForward()">></button>
          <button (click)="navigateToLastPage()">>></button>
          <span
            style="color: #ff5533; vertical-align:middle; display: flex; align-items: center;">{{currentPage}}</span>
        </div>
      </div>
    </div>
  </div>
  <app-loading *ngIf="loadingHandler.isLoading"></app-loading>
</div>