$white: #E5E5E5;
$black: #1e2027;
$gray: #262a2f;
$gray_light: #686868;
$orange: #ff5533;
$red: red;
$font-family: "Roboto Mono", monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

.block {
  width: auto;
  height: 100%;
  background-color: $gray;
  position: relative;

  .content {
    position: absolute;
    top: 40.45%;
    left: 50%;
    transform: translate(-50%, -50%);

    .section_login {
      margin-top: 5%;
      min-width: 400px;
      width: 30%;
      padding: 8px;
      height: min-content;
      background-color: $gray;
      border-radius: 4px;
      border: 2px solid $gray_light;
    }
  }
  .section_logo {
    display: flex;
    justify-content: center;
    
    .section_logo_content{
      font-family: none;
      background-color: $orange;
      width: 5rem;
      text-align: center;
      padding: 20px;
      border-radius: 4px;
      font-size: 12px;
    }
  }
}

.block_group .form_group {
  display: flex;
  flex-direction: column; 
  margin: 0 8%;
  
  label {
    color: $gray_light;
    margin-top: 1rem;
    font-family: $font-family;
  }
  button:nth-child(5) {
    padding: 12px;
    margin-top: 1.5rem;
    color: $white;
    background-color: $orange;
    border: 2px solid $black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: $font-family;
  }
  button:nth-child(5):hover {
    background-color: #d94021;
  }
  
  input {
    padding: 10px;
    border: 1px solid $white;
    color: $white;
    border-radius: 2px;
    background-color: transparent;
  }
  input:hover {
    border: 1px solid $orange;
  }

  .link_login{
    border: none;
    color: $orange;
    margin-top: 6%;
    margin-left: 2%;  
    width:fit-content;
    background-color: $gray;
    cursor: pointer;
    span{font-size: 14px;}
  }
}
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
