<div class="block">
  <div class="content">
    <div class="section_logo">
      <div class="section_logo_content">
        <h2>YNX</h2>
      </div>
    </div>
    <div class="section_reg">
      <form [formGroup]="registerForm">
        <div class="form_group">
          <label for="firstName">First name</label>
          <input formControlName="first_name" type="text" id="firstName" name="firstName">
          <label for="lastName">Last name</label>
          <input formControlName="last_name" type="text" id="lastName" name="lastName">
          <label for="lastName">username</label>
          <input formControlName="username" type="text" id="username" name="username">
          <label for="email">Email</label>
          <input formControlName="email" type="email" id="email" name="email">
          <label for="password">password</label>
          <input formControlName="password" type="password" id="password" name="password">
          <button (click)="onReg()" type="submit">Register</button>
          <p class="login-link">Already have account? <a routerLink="/login">LOGIN</a></p>
        </div>
      </form>
    </div>
  </div>
</div>   